.container{
	/* display: grid;
	grid-template-rows: 1fr 2fr 1fr; */
}

.header{
	display: grid;
	border: 1px outset;
	height: 60px;
}

.slogan{
	display: grid;
	border: 1px outset;
	height: 60px;
}

.game-container{
	display: grid;
	height: 300px;
	grid-template-columns: 1fr 2fr 1fr;
	border: 1px outset;
}

footer{
	/* display: grid;
	height:50px;
	border: 1px outset; */
}
